<div id="wrapper">
    {{> header}}
    <div class="clearfix"></div>

    <style>
        .contact-form {
            background: #fff;
            margin-bottom: 5%;
            width: 80%;
        }

        .contact-form .form-control {
            border-radius: 1rem;
        }

        .contact-image {
            text-align: center;
        }

        .contact-image img {
            border-radius: 6rem;
            width: 11%;
            margin-top: -3%;
            transform: rotate(29deg);
        }

        .contact-form form {
            padding: 14%;
        }

        .contact-form form .row {
            margin-bottom: -7%;
        }

        .contact-form h3 {
            margin-bottom: 8%;
            margin-top: -10%;
            text-align: center;
            color: #0062cc;
        }

        .contact-form .btnContact {
            width: 50%;
            border: none;
            border-radius: 1rem;
            padding: 1.5%;
            background: #dc3545;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
        }

        .btnContactSubmit {
            width: 50%;
            border-radius: 1rem;
            padding: 1.5%;
            color: #fff;
            background-color: #0062cc;
            border: none;
            cursor: pointer;
        }
    </style>

    <section id="home" class="parallax-searchs section welcome-area overlay">
        <div class="hero-main">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-inner">
                            <h1 class="title text-center">İletişim</h1>
                        </div>
                        <div class="container mb-4">
                            <section class="how-it-works bg-white">
                                <div class="container">
                                    <div class="container contact-form">
                                        <form method="post" action="/contact">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" name="name" class="form-control"
                                                            placeholder="Your Name *" value="" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="email" class="form-control"
                                                            placeholder="Your Email *" value="" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="phone" class="form-control"
                                                            placeholder="Your Phone Number *" value="" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="submit" name="btnSubmit" class="btnContact"
                                                            value="Send Message" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <textarea name="msg" class="form-control"
                                                            placeholder="Your Message *"
                                                            style="width: 100%; height: 150px;"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    {{> footer_public}}

    <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>

    <!-- START PRELOADER -->
    <div id="preloader">
        <div id="status">
            <div class="status-mes"></div>
        </div>
    </div>
    <!-- END PRELOADER -->