<div id="wrapper">
  {{> header}}
  <div class="clearfix"></div>
  <section id="home" class="parallax-searchs section welcome-area overlay">
    <div class="hero-main">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="banner-inner">
              <h1 class="title text-center">Ülke Seç</h1>
              <h5 class="sub-title text-center"></h5>
            </div>
          </div>
          <div class="col-12">
            <div class="banner-search-wrap">
              <div class="rld-main-search">
                <div class="row">
                  <div class="rld-single-select">
                    {{> select}}
                  </div>
                </div>
              </div>
            </div>
            <!-- <ul class="popular-searchs">
              <li>
                <a href="#">
                  <span class="box">
                    <i class="fas fa-plane"></i>
                    <span>Travel</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="box">
                    <i class="fas fa-wine-glass-alt"></i>
                    <span>Restaurant</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="box">
                    <i class="fab fa-gitter"></i>
                    <span>Events</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="box">
                    <i class="fas fa-dumbbell"></i>
                    <span>Fitness</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="box">
                    <i class="fas fa-pencil-alt"></i>
                    <span>Arts</span>
                  </span>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  {{> table}}

  {{> footer_public}}

  <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>

  <!-- START PRELOADER -->
  <div id="preloader">
    <div id="status">
      <div class="status-mes"></div>
    </div>
  </div>
  <!-- END PRELOADER -->