<!-- Wrapper -->
<div id="wrapper">
  <!-- START SECTION HEADINGS -->
  <!-- Header Container
        ================================================== -->
  <header id="header-container" class="header head-tr">
    <!-- Header -->
    <div id="header" class="head-tr bottom">
      <div class="container container-header">
        <!-- Left Side Content -->
        <div class="left-side">
          <!-- Logo -->
          <div id="logo">
            <a href="/"><img src="/images/logo-white-blue.svg" data-sticky-logo="/images/logo-blue.svg"
                alt=""></a>
          </div>
          <!-- Mobile Navigation -->
          <div class="mmenu-trigger">
            <button class="hamburger hamburger--collapse" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
          <!-- Main Navigation -->
          <nav id="navigation" class="style-1 head-tr">
            <ul id="responsive">
              <li><a href="/">Anasayfa</a>
              </li>
              <li><a href="#">İletişim</a></li>
              {{#if user}}
              <li><a href="/dashboard">Gösterge Paneli</a></li>
              {{/if}}
            </ul>
          </nav>
          <!-- Main Navigation / End -->
        </div>
        <!-- Left Side Content / End -->
      </div>
    </div>
    <!-- Header / End -->
  </header>
  <div class="clearfix"></div>
  <!-- Header Container / End -->
  <!-- STAR HEADER SEARCH -->
  <section id="home" class="parallax-searchs section welcome-area overlay">
    <div class="hero-main">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="banner-inner">
              <h1 class="title text-center">Ülke Seç</h1>
              <h5 class="sub-title text-center"></h5>
            </div>
          </div>
          <div class="col-12">
            <div class="banner-search-wrap">
              <div class="rld-main-search">
                <div class="row">
                    <div class="rld-single-select">
                      {{> select}}
                    </div>
                </div>
              </div>
            </div>
            <!-- <ul class="popular-searchs">
              <li>
                <a href="#">
                  <span class="box">
                    <i class="fas fa-plane"></i>
                    <span>Travel</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="box">
                    <i class="fas fa-wine-glass-alt"></i>
                    <span>Restaurant</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="box">
                    <i class="fab fa-gitter"></i>
                    <span>Events</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="box">
                    <i class="fas fa-dumbbell"></i>
                    <span>Fitness</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="box">
                    <i class="fas fa-pencil-alt"></i>
                    <span>Arts</span>
                  </span>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END HEADER SEARCH -->

  {{> table}}

  {{> footer_public}}

  <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
  <!-- END FOOTER -->



  <!-- START PRELOADER -->
  <div id="preloader">
    <div id="status">
      <div class="status-mes"></div>
    </div>
  </div>
  <!-- END PRELOADER -->