<div id="wrapper">
    {{> header}}
    <div class="clearfix"></div>

    <section id="home" class="parallax-searchs section welcome-area overlay">
        <div class="hero-main">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-inner">
                            <h1 class="title text-center">Kullanım Koşulları</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
      <div class="container mt-4 mb-4 mx-4">

    <section class="how-it-works bg-white">
      <div class="container">
        <div class="row service-1">
          <article class="col-lg-12 col-md-12 col-xs-12 mb-0 pt">
            <div class="serv-flex arrow">
              <div class="service-text-p">
                <p style="text-align:left">{{{config.term}}}</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>
    <br>
    {{> footer_public}}

    <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>

    <!-- START PRELOADER -->
    <div id="preloader">
        <div id="status">
            <div class="status-mes"></div>
        </div>
    </div>
    <!-- END PRELOADER -->